</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Kushagra Bankey!</p>
  </div>
</div>
<script>
  //alert("yoo")

  function redirectToCompose() {
    window.location.href = '/compose';
  }
</script>
</body>
</html>