<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <pre><%= contactContent %></pre> </p>

    <a href="https://kushagrabankeyportfolio.netlify.app" target="_blank">
        <button class="contact-btn">
            <b>Portfolio!</b>
        </button>
    </a>
<%- include("partials/footer"); -%>